{% extends 'partials/base.html.twig' %}

{% set crumbs = breadcrumbs.get() %}

{% block content %}
<div class="container">
	<header class="main-header-thy"></header>
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="portfolio-menu">
            {% if page.parent.visible%}
                <h3><i class="fa fa-desktop"></i>{{ page.parent.header.title }}</h3>
            {% else %}
            	<h3><i class="fa fa-desktop"></i>{{ page.header.title }}</h3>
            {% endif %}
                <ul class="portfolio-cats">
                	{% if page.parent.visible %}
                    	{% for item in page.parent.children.visible %}
                    		{% if item.header.title==page.header.title %}
                    			<li><span class="filter active">{{ item.header.title }}</span></li>
                    		{% else %}
                    			<li><span class="filter" onclick="location='{{ item.url}}'">{{ item.header.title }}</span></li>
                    		{% endif %}
                    	{% endfor %}
                    {% else %}
                    	{% for item in page.children.visible %}
                    		<li><span class="filter" onclick="location='{{ item.url}}'">{{ item.header.title }}</span></li>
                    	{% endfor %}                    	
                    {% endif %}	
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-9">
        <div class="row" >
        	<div class="text-right col-md-12">
                {% set crumbs = breadcrumbs.get() %}
                {% set breadcrumbs_config = config.plugins.breadcrumbs %}
                {% set divider = breadcrumbs_config.icon_divider_classes %}
                
                {% if crumbs|length > 1 or breadcrumbs_config.show_all %}
                <div id="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    {% if breadcrumbs_config.icon_home %}
                    <i class="{{ breadcrumbs_config.icon_home }}"></i>
                    {% endif %}
                    {% for crumb in crumbs %}
                        {% if not loop.last %}
                            {% if crumb.routable %}
                                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
                            {% else  %}
                                <span itemprop="title">{{ crumb.menu }}</span>
                            {% endif %}
                            <i class="{{ divider }}"></i>
                        {% else %}
                            {% if breadcrumbs_config.link_trailing %}
                                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
                            {% else %}
                                <span itemprop="title">{{ crumb.menu }}</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
           </div> 
            <article class="post">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 post-content">
                            	<div class="row">
                                 {% block post %}
                                 	{% if page.collection('modular_content')|length>0 %}
                                        {% for module in page.collection('modular_content') %}
                                       		<div class="{{ module.header.content_class?module.header.content_class:'col-lg-12'}}">
                                                {{ module.content }}
                                        	</div>    
                                        {% endfor %}
                                    {% else %}
                                    	<div class="col-lg-12">
                                    	    {{ page.content }}
                                    	</div>    
                                    {% endif %}
                                 {% endblock %}   	
                             	</div>	
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}